<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Lato' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Bungee+Inline|Luckiest+Guy' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
